@font-face {
  font-family: "Gilroy";
  src: url("/assets/fonts/Gilroy/Gilroy-Regular.eot");
  src: url("/assets/fonts/Gilroy/Gilroy-Regular?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/Gilroy/Gilroy-Regular.woff") format("woff"),
    url("/assets/fonts/Gilroy/Gilroy-Regular.ttf") format("truetype");
}
